## .gitignore ##
# ignore all
*

# allow any
!.config/
!.config/fish/
!.config/fish/functions/
!.gitignore
!.gitconfig
!Brewfile
!.bash_profile
!.bashrc
!.vimrc
!.hyper.js
!.config
!.config/fish/functions/ghcd.fish
#!.config/fish/functions/ll.fish
